{% extends "layout.html" %}

{% block title %}
    Blog App.
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>검색기능을 제공합니다.</p>

                {% if q %}
                    <h2>{{ q }}</h2>
                {% endif %}

                <p>
                    <a href="{% url "blog:new" %}" class="btn btn-primary pull-right">New Post</a>
                </p>


                <p>
                    <form action="" method="get">
                        <input type="text" name="str" value="{{ search }}"/>
                        <input type="submit" value="검색"/>
                    </form>
                </p>

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>author</th>
                            <th>updated_at</th>
                        </tr>
                    </thead>

                    {% for post in post_list %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></td>
                            <td><small>by {{ post.author }}</small></td>
                            <td><small>at {{ post.updated_at }}</small></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

